* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    object-fit: cover;
}

iframe {
    overflow: hidden;
    scrollbar-width: none !important;
}

iframe::-webkit-scrollbar {
    display: none !important;
}

.container {
    max-width: 30%;
    margin-inline: auto;
}

@media screen and (max-width: 767px) {
    .container {
        max-width: 100%;
        padding-inline: 15px;
    }
}

.img-wrapper {
    position: relative;
}

@media screen and (max-width: 767px) {
    .img-wrapper {
        width: 100%;
    }
}

.date-size {
    width: clamp(0px, 47 / 1366 * 100vw, 47px);
}

@media screen and (max-width: 767px) {
    .date-size {
        width: clamp(0px, 77 / 768 * 100vw, 77px);
    }
}

.year-wrapper {
    position: absolute;
    top: 14%;
    left: 11%;
}

@media screen and (max-width: 767px) {
    .year-wrapper {
        top: 14%;
        left: 11.5%;
    }
}

.month-wrapper {
    position: absolute;
    top: 26%;
    left: 11%;
}

@media screen and (max-width: 767px) {
    .month-wrapper {
        left: 11.5%;
    }
}

.day-wrapper {
    position: absolute;
    top: 37.5%;
    left: 11%;
}

@media screen and (max-width: 767px) {
    .day-wrapper {
        top: 38%;
    }
}

.download-btn {
    width: 100%;
    padding-block: 10px;
    padding-inline: 15px;
    text-align: center;
    background: #637457;
    border: none;
    color: #fff;
    margin-top: 2rem;
}